streamlit==1.36.0
pandas==2.1.4
mediapipe==0.10.21
streamlit-webrtc
pyarrow==15.0.2
plotly>=6.1.1
pmdarima==2.0.4
prophet==1.1.5
scikit-learn==1.5.2
streamlit-webrtc>=0.48.1
av>=10.0.0
opencv-python-headless
qrcode
kaleido
pytesseract
google-genai
requests>=2.32.0
numpy==1.26.4
opencv-python
Pillow











